$bg: #F3D89F;
$scissors: #3D8EB9;
$blade: #bdc3c7;
$screw: darkgray;
$paper: #ecf0f1;

// body {
// 	margin:0;
// 	overflow:hidden;
// }

%pseudo {
    content: '';
    display: block;
    position: absolute;
}

#scissors {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(10% - 450px);
    transform: translateX(-50%) translateY(-50%);
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    // &:after {
    // 	@extend %pseudo;
    // 	width:15px;
    // 	height:65px;
    // 	background:$scissors;
    // 	top:68px;
    // 	left:-200px;
    // 	opacity:0;
    // 	animation-name:opac;
    // 	animation-delay:9.5s;
    // 	animation-duration:.5s;
    // 	animation-timing-function:ease;
    // 	animation-fill-mode:forwards;
    // }
    // &:before {
    // 	@extend %pseudo;
    // 	width:30px;
    // 	height:12px;
    // 	background:$scissors;
    // 	top:95px;
    // 	opacity:0;
    // 	animation-name:opac;
    // 	animation-delay:9.5s;
    // 	animation-duration:.5s;
    // 	animation-timing-function:ease;
    // 	animation-fill-mode:forwards;
    // }
}

@keyframes opac {
    100% {
        opacity: 1;
    }
}

@keyframes move {
    0% {
        left: calc(15% - 500px);
    }

    10% {
        left: calc(15% - 366px);
    }

    30% {
        left: calc(15% - 266px);
    }

    50% {
        left: calc(15% - 166px);
    }

    70% {
        left: calc(15% - 66px);
    }

    90% {
        left: calc(15% + 90px);
        top: calc(20% - 50px);
        z-index: 1
    }

    100% {
        left: calc(52% - 200px);
        top: 10%;
        z-index: -2;
    }
}

.hole {
    position: absolute;
    background: $scissors;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 45%, $scissors 47%, $scissors 100%);
}

.blade {
    position: absolute;
    background: $blade;
    width: 230px;
    height: 30px;
    left: 80px;
    top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#top-part {
    position: absolute;
    transform-origin: 45px 45px;
    transform: rotateZ(30deg);
    z-index: 2;
}

#top-part .blade {
    border-bottom-right-radius: 100px;
}

#bottom-part {
    position: absolute;
    top: 112px;
    transform-origin: 45px 45px;
    transform: rotateZ(-30deg);
    z-index: 2;
}

#bottom-part .blade {
    border-top-right-radius: 100px;
}

#rotator-top {
    transform-origin: 155px 45px;
    animation: rotateTop;
    animation-duration: 2s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#rotator-bottom {
    transform-origin: 155px 45px;
    animation: rotateBottom;
    animation-duration: 2s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes rotateTop {
    0% {
        transform: rotateZ(-10deg);
    }

    50% {
        transform: rotateZ(20deg);
    }

    100% {
        transform: rotateZ(-10deg);
    }
}

@keyframes rotateBottom {
    0% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(-20deg);
    }

    100% {
        transform: rotateZ(10deg);
    }
}

.screw {
    position: absolute;
    width: 15px;
    height: 15px;
    background: $screw;
    border-radius: 100px;
    top: 37px;
    left: 150px;
    box-shadow: 0 0 5px darken($blade, 50%);

    &:after {
        @extend %pseudo;
        width: 10px;
        height: 3px;
        background: darken($screw, 20%);
        top: 6px;
        left: 2px;
        box-shadow: inset 0 1px 1px black;
    }
}

#cut {
    position: absolute;
    height: 2px;
    background: $bg;
    // top:400%;
    // left:20%;
    transform: translateX(calc(-50% - 200px)) translateY(calc(-50% - 2px));
    animation-name: cut;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes cut {
    10% {
        width: 0;
    }

    30% {
        width: 190px;
    }

    50% {
        width: 390px;
    }

    70% {
        width: 590px;
    }

    90% {
        width: 800px;
    }

    90.1% {
        width: 0px;
    }
}

#firstline {
    margin-left: 50px;
}