.screw:after {
  content: "";
  display: block;
  position: absolute;
}

#scissors {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(10% - 450px);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes opac {
  100% {
    opacity: 1;
  }
}

@keyframes opac {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes move {
  0% {
    left: calc(15% - 500px);
  }
  10% {
    left: calc(15% - 366px);
  }
  30% {
    left: calc(15% - 266px);
  }
  50% {
    left: calc(15% - 166px);
  }
  70% {
    left: calc(15% - 66px);
  }
  90% {
    left: calc(15% + 90px);
    top: calc(20% - 50px);
    z-index: 1;
  }
  100% {
    left: calc(52% - 200px);
    top: 10%;
    z-index: -2;
  }
}
@keyframes move {
  0% {
    left: calc(15% - 500px);
  }
  10% {
    left: calc(15% - 366px);
  }
  30% {
    left: calc(15% - 266px);
  }
  50% {
    left: calc(15% - 166px);
  }
  70% {
    left: calc(15% - 66px);
  }
  90% {
    left: calc(15% + 90px);
    top: calc(20% - 50px);
    z-index: 1;
  }
  100% {
    left: calc(52% - 200px);
    top: 10%;
    z-index: -2;
  }
}
.hole {
  position: absolute;
  background: #3D8EB9;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 45%, #3D8EB9 47%, #3D8EB9 100%);
}

.blade {
  position: absolute;
  background: #bdc3c7;
  width: 230px;
  height: 30px;
  left: 80px;
  top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#top-part {
  position: absolute;
  transform-origin: 45px 45px;
  transform: rotateZ(30deg);
  z-index: 2;
}

#top-part .blade {
  border-bottom-right-radius: 100px;
}

#bottom-part {
  position: absolute;
  top: 112px;
  transform-origin: 45px 45px;
  transform: rotateZ(-30deg);
  z-index: 2;
}

#bottom-part .blade {
  border-top-right-radius: 100px;
}

#rotator-top {
  transform-origin: 155px 45px;
  -webkit-animation: rotateTop;
          animation: rotateTop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#rotator-bottom {
  transform-origin: 155px 45px;
  -webkit-animation: rotateBottom;
          animation: rotateBottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotateTop {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

@keyframes rotateTop {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}
@-webkit-keyframes rotateBottom {
  0% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
@keyframes rotateBottom {
  0% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
.screw {
  position: absolute;
  width: 15px;
  height: 15px;
  background: darkgray;
  border-radius: 100px;
  top: 37px;
  left: 150px;
  box-shadow: 0 0 5px #3d4448;
}
.screw:after {
  width: 10px;
  height: 3px;
  background: #767676;
  top: 6px;
  left: 2px;
  box-shadow: inset 0 1px 1px black;
}

#cut {
  position: absolute;
  height: 2px;
  background: #F3D89F;
  transform: translateX(calc(-50% - 200px)) translateY(calc(-50% - 2px));
  -webkit-animation-name: cut;
          animation-name: cut;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes cut {
  10% {
    width: 0;
  }
  30% {
    width: 190px;
  }
  50% {
    width: 390px;
  }
  70% {
    width: 590px;
  }
  90% {
    width: 800px;
  }
  90.1% {
    width: 0px;
  }
}

@keyframes cut {
  10% {
    width: 0;
  }
  30% {
    width: 190px;
  }
  50% {
    width: 390px;
  }
  70% {
    width: 590px;
  }
  90% {
    width: 800px;
  }
  90.1% {
    width: 0px;
  }
}
#firstline {
  margin-left: 50px;
}/*# sourceMappingURL=style.css.map */